# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory
report.*.json

# eslint
.eslintcache

# yarn v2 zero-installs
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

tmp.**.json
tmp.**.js
tmp.**.html

# ide
.idea/*
