section.registration-info .container {
  padding-top: 10px;
  max-width: 650px;
}

@media only screen and (max-width: 640px) {
  section.registration-info .container {
    padding-top: 0;
    max-width: 90% !important;
  }
}

section.registration-info p {
  margin-top: 5px;
  margin-bottom: 20px;
}

section.registration-info .animation-container.left {
  left: -125px;
}
