.header {
  font-size: 20px;
  color: black;
}

.header::after {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: solid gray;
  border-width: 0 2px 2px 0;
  padding: 4px;
  /* margin-right: 2px; */
  top: 50%;
  left: 1rem;
  transform: translate3d(0, -4px, 0) rotate(45deg);
  transition: transform 250ms ease-out;
}

.content {
  color: black;
  transition: height 250ms ease-out;
  overflow: hidden;
}

.content a {
  color: black;
}

.content div {
  margin-top: 1rem;
}

.wrapper .container.selected .header::after {
  transform: translate3d(0, 0px, 0) rotate(-135deg);
}
