.navbar {
  position: sticky;
  z-index: 13;
  top: 0;
}

.nav {
  background: var(--theme-primary);
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 20px 0;
  padding-right: calc(60px + 50px); /* MLHTrustBadge */
}

.nav-item {
  margin-top: auto;
  margin-bottom: auto;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.25);
}
