/* autoprefixer grid: autoplace */

/* bring in normalize.css styles */
@import-normalize;

:root {
  --theme-primary: #33cccc;
  overflow-y: scroll;
  text-size-adjust: 100%;
  box-sizing: border-box;
  color: #555;
  cursor: default;
  text-rendering: optimizeLegibility;
  vertical-align: top;
  scroll-behavior: smooth;
}

/* a:not([href*='hacktj.org']):not([href^='#']):not([href^='/']):after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
} */

main,
summary {
  display: block;
}
body {
  background-color: #fff;
  background: #fff;
  background: linear-gradient(180deg, #fff 0, #fff);
  position: relative;
  width: 100%;
  min-height: 100%;
  font-family: "Avenir Next", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

a,
button,
input,
select,
textarea {
  cursor: auto;
}

hr {
  border: 0;
  display: block;
  height: 1px;
  margin: 20px 0;
}

.figure {
  margin: 24px 1em;
}

.figcaption {
  color: #666;
  font-style: italic;
  text-align: center;
}

::-moz-selection {
  background-color: #d6d6d6;
}

::selection {
  background-color: #d6d6d6;
}

blockquote {
  border-left: 1px solid #e0e0e0;
  color: #666;
  margin-bottom: 20px;
  padding: 0 1em;
}

blockquote cite,
blockquote footer {
  display: block;
  font-size: 80%;
  font-style: italic;
  margin-top: 10px;
}

blockquote cite:before,
blockquote footer:before {
  content: "\2014 \A0";
}

.blockquote--reverse {
  border-left: 0;
  border-right: 1px solid #e0e0e0;
  text-align: right;
}

ol,
ul {
  padding-left: 1.5em;
  margin-bottom: 10px;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

ul ul {
  list-style: square;
}

ol ol,
ul ol {
  list-style: lower-roman;
}

ol ul {
  list-style: square;
}

.list--unstyled {
  list-style: none;
  padding-left: 0;
}

.list--inline,
.list--unstyled li {
  padding-left: 0;
}

.list--inline li {
  display: inline;
  list-style: none;
  padding-left: 1.5em;
}

.list--inline li:first-child {
  padding-left: 0;
}

dl {
  margin-bottom: 24px;
}

dt {
  font-weight: 700;
}

dd,
dt {
  margin-bottom: 10px;
}

@media (min-width: 60em) {
  .dl--horizontal dt {
    clear: left;
    float: left;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
  }
  .dl--horizontal dd {
    margin-left: 165px;
  }
  .dl--horizontal dd:after,
  .dl--horizontal dd:before {
    content: "";
    display: table;
  }
  .dl--horizontal dd:after {
    clear: both;
  }
}

@media print {
  @page {
    margin: 0.5cm;
  }
  *,
  :after,
  :before {
    background: 0 0 !important;
    color: #000 !important;
    filter: none !important;
    text-shadow: none !important;
  }
  :root {
    background-color: #fff;
    color: #000;
    font: 11pt/1.3 Georgia, "Times New Roman", Times, serif;
  }
  img {
    max-width: 100% !important;
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  .show--print {
    display: block;
    visibility: visible;
  }
  .hide--print,
  a[href^="#"]:after,
  audio,
  embed,
  footer,
  nav,
  object,
  video {
    display: none;
    visibility: hidden;
  }
  .h2,
  .h3,
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }
  .h2,
  .h3,
  h2,
  h3 {
    page-break-after: avoid;
  }
  a,
  a:visited {
    color: #000;
    font-size: 0.57em;
    text-decoration: underline;
    word-wrap: break-word;
  }
  a:visited[href]:after,
  a[href]:after {
    content: " (" attr(href) ")";
    font-size: smaller;
  }
  q:after {
    content: " (Source:" attr(cite) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a:after,
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  code,
  pre {
    background-color: none;
    border: 1px solid #e0e0e0;
  }
  blockquote,
  code,
  pre {
    page-break-inside: avoid;
  }
  blockquote {
    border: none;
  }
  thead {
    display: table-header-group;
  }
  img,
  tr {
    page-break-inside: avoid;
  }
  ol {
    padding-left: 1.25em;
  }
  ul {
    padding-left: 0;
    list-style: none;
  }
  ul ul,
  ul ul ul {
    padding-left: 1.5em;
  }
  ol li,
  ul li {
    content: "»";
  }
}

@media print and (min-width: 30em) {
  table {
    page-break-inside: avoid;
    width: 100% !important;
  }
  table td,
  table th {
    line-height: 40px !important;
  }
}

@media print {
  .alert,
  .alert :after,
  .alert:before,
  .badge,
  .badge :after,
  .badge:before,
  .breadcrumbs,
  .breadcrumbs :after,
  .breadcrumbs:before,
  .label,
  .label :after,
  .label:before,
  .modal,
  .modal :after,
  .modal:before,
  .progress,
  .progress :after,
  .progress:before,
  .spinner,
  .spinner :after,
  .spinner:before,
  .tooltip,
  .tooltip :after,
  .tooltip:before,
  [data-hint],
  [data-hint] :after,
  [data-hint]:before {
    display: none;
    visibility: hidden;
  }
}

table {
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  margin-bottom: 24px;
  width: 100%;
}

table caption {
  color: #555;
  font-size: 85%;
  font-style: italic;
  line-height: 48px;
  text-align: center;
}

table thead {
  background-color: #f5f5f5;
  text-align: left;
}

table td,
table th {
  border-right: 1px solid #e0e0e0;
  line-height: 24px;
  overflow: visible;
  padding: 8px 1em;
}

@media (min-width: 30em) {
  table td,
  table th {
    line-height: 48px;
  }
}

table td:last-child,
table th:last-child {
  border-right: 0;
}

table td,
table tr {
  transition: background-color 0.15s;
}

@media (min-width: 30em) {
  table {
    width: auto;
  }
  table td,
  table th {
    padding: 0 2.5em;
  }
}

.table--responsive {
  overflow: auto;
  width: 100%;
}

.table--responsive::-webkit-scrollbar {
  height: 14px;
  width: 14px;
  appearance: none;
}

.table--responsive::-webkit-scrollbar-thumb {
  background-color: rgba(50, 50, 50, 0.2);
  border: 3px solid #fff;
  border-radius: 8px;
}

.table--responsive table {
  margin-bottom: 0;
}

.table--full {
  width: 100%;
}

.table--border {
  border: 1px solid #e0e0e0;
}

.table--border td,
.table--border thead {
  border-bottom: 1px solid #e0e0e0;
}

.table--borderOuter {
  border: 1px solid #e0e0e0;
}

.table--borderOuter td,
.table--borderOuter th {
  border-right: 0;
}

.table--borderHorizontal td,
.table--borderHorizontal thead {
  border-bottom: 1px solid #e0e0e0;
}

.table--borderHorizontal td,
.table--borderHorizontal th {
  border-right: 0;
}

.table--flat {
  border: none;
}

.table--flat td {
  border-bottom: 0;
}

.table--flat td,
.table--flat th {
  border-right: 0;
}

.table--fillEven tbody tr:nth-child(2n),
.table--fillOdd tbody tr:nth-child(odd),
.table--hoverCell tbody td:hover,
.table--hoverRow tbody tr:hover {
  background-color: #f5f5f5;
}

.italic,
em,
i {
  font-style: italic;
}

.bold,
b,
strong {
  font-weight: 700;
}

.small,
small {
  font-size: 75%;
  vertical-align: text-bottom;
}

p {
  margin-bottom: 20px;
}

a {
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  transition: 0.15s;
  color: #3cc;
  color: var(--theme-primary);
  text-decoration: underline;
  transition: color 0.3s;
}

a:focus,
a:hover {
  color: #2f6374;
}

.h1 a,
.h2 a,
.h3 a,
h1 a,
h2 a,
h3 a {
  color: #555;
}

.h1 a:focus,
.h1 a:hover,
.h2 a:focus,
.h2 a:hover,
.h3 a:focus,
.h3 a:hover,
h1 a:focus,
h1 a:hover,
h2 a:focus,
h2 a:hover,
h3 a:focus,
h3 a:hover {
  color: #4591aa;
  text-decoration: none;
}

abbr[title] {
  border-bottom: 1px dotted #e0e0e0;
  cursor: help;
}

code,
kbd,
pre,
samp {
  font: 0.875em consolas, monospace;
}

code {
  vertical-align: middle;
  white-space: nowrap;
  padding: 2px 3px;
}

code,
pre {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  color: #484848;
  margin-bottom: 24px;
}

pre code {
  border: none;
  vertical-align: inherit;
  white-space: pre;
}

.pre--flat,
pre code {
  background-color: transparent;
  padding: 0;
}

.pre--flat {
  border: 0;
  border-radius: none;
}

kbd {
  background-color: transparent;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  box-shadow: 0 2px 0 -1px #fff, 0 2px 0 #dcdcdc;
  display: inline-block;
  line-height: 1.75;
  margin: -3px 2px 0;
  padding: 2px 6px 0;
  white-space: nowrap;
}

address {
  font-style: normal;
}

[container] {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

[row] {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 0;
}

[row]:after,
[row]:before {
  content: "";
  display: table;
}

[row]:after {
  clear: both;
}

[column] {
  box-sizing: border-box;
  float: left;
  margin-bottom: 0;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 48em) {
  [column~="1"] {
    width: 8.33333%;
  }
  [column~="2"] {
    width: 16.66667%;
  }
  [column~="3"] {
    width: 25%;
  }
  [column~="4"] {
    width: 33.33333%;
  }
  [column~="5"] {
    width: 41.66667%;
  }
  [column~="6"] {
    width: 50%;
  }
  [column~="7"] {
    width: 58.33333%;
  }
  [column~="8"] {
    width: 66.66667%;
  }
  [column~="9"] {
    width: 75%;
  }
  [column~="10"] {
    width: 83.33333%;
  }
  [column~="11"] {
    width: 91.66667%;
  }
  [column~="12"] {
    width: 100%;
  }
  [column~="+1"] {
    margin-left: 8.33333%;
  }
  [column~="+2"] {
    margin-left: 16.66667%;
  }
  [column~="+3"] {
    margin-left: 25%;
  }
  [column~="+4"] {
    margin-left: 33.33333%;
  }
  [column~="+5"] {
    margin-left: 41.66667%;
  }
  [column~="+6"] {
    margin-left: 50%;
  }
  [column~="+7"] {
    margin-left: 58.33333%;
  }
  [column~="+8"] {
    margin-left: 66.66667%;
  }
  [column~="+9"] {
    margin-left: 75%;
  }
  [column~="+10"] {
    margin-left: 83.33333%;
  }
  [column~="+11"] {
    margin-left: 91.66667%;
  }
}

.text--muted {
  color: #aaa !important;
}

.bg--muted {
  background-color: #aaa !important;
}

.text--primary {
  color: #4591aa !important;
}

.bg--primary {
  background-color: #4591aa !important;
}

.text--success {
  color: #45ca69 !important;
}

.bg--success {
  background-color: #45ca69 !important;
}

.text--warning {
  color: #ffb800 !important;
}

.bg--warning {
  background-color: #ffb800 !important;
}

.text--error {
  color: #ca4829 !important;
}

.bg--error {
  background-color: #ca4829 !important;
}

.hide--hd,
.hide--lg,
.hide--md,
.hide--print,
.hide--sm,
.hide--xlg,
.show--xsm {
  display: block;
  visibility: visible;
}

.hide--xsm,
.show--hd,
.show--lg,
.show--md,
.show--print,
.show--sm,
.show--xlg {
  display: none;
  visibility: hidden;
}

@media (min-width: 18em) {
  .hide--lg,
  .hide--md,
  .hide--xlg,
  .hide--xsm,
  .show--sm {
    display: block;
    visibility: visible;
  }
  .hide--sm,
  .show--lg,
  .show--md,
  .show--xlg,
  .show--xsm {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 60em) {
  .hide--lg,
  .hide--sm,
  .hide--xlg,
  .hide--xsm,
  .show--md {
    display: block;
    visibility: visible;
  }
  .hide--md,
  .show--lg,
  .show--sm,
  .show--xlg,
  .show--xsm {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 70em) {
  .hide--md,
  .hide--sm,
  .hide--xlg,
  .hide--xsm,
  .show--lg {
    display: block;
    visibility: visible;
  }
  .hide--lg,
  .show--md,
  .show--sm,
  .show--xlg,
  .show--xsm {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 80em) {
  .hide--lg,
  .hide--md,
  .hide--sm,
  .hide--xsm,
  .show--xlg {
    display: block;
    visibility: visible;
  }
  .hide--xlg,
  .show--lg,
  .show--md,
  .show--sm,
  .show--xsm {
    display: none;
    visibility: hidden;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 1.5dppx),
  only screen and (min-device-pixel-ratio: 1.5) {
  .show--hd {
    display: block;
    visibility: visible;
  }
  .hide--hd {
    display: none;
    visibility: hidden;
  }
}

.text--left {
  text-align: left;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--justify {
  text-align: justify;
}

.float--none {
  float: none;
}

.float--right {
  float: right;
}

.float--left {
  float: left;
}

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.center--all {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.media--fluid {
  max-width: 100%;
  height: auto;
}

.screenreader {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.screenreader:active,
.screenreader:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.pe.pull-left {
  margin-right: 0.3em;
}

.pe.pull-right {
  margin-left: 0.3em;
}

.icon-spin {
  animation: spin 2s linear infinite;
}

.icon-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  transform: rotate(90deg);
}

.icon-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  transform: rotate(180deg);
}

.icon-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  transform: rotate(270deg);
}

.icon-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  transform: scaleX(-1);
}

.icon-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  transform: scaleY(-1);
}

.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.icon-stack-1x,
.icon-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.icon-stack-1x {
  line-height: inherit;
}

.icon-stack-2x {
  font-size: 2em;
}

.icon-inverse {
  color: #fff;
}

.icon-va {
  vertical-align: middle;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./fonts/avenir/AvenirNext-UltraLight.eot");
  src: url("./fonts/avenir/AvenirNext-UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/avenir/AvenirNext-UltraLight.svg#AvenirNext-UltraLight")
      format("svg"),
    url("./fonts/avenir/AvenirNext-UltraLight.ttf") format("truetype"),
    url("./fonts/avenir/AvenirNext-UltraLight.woff") format("woff"),
    url("./fonts/avenir/AvenirNext-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./fonts/avenir/AvenirNext-UltraLightItalic.eot");
  src: url("./fonts/avenir/AvenirNext-UltraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/avenir/AvenirNext-UltraLightItalic.svg#AvenirNext-UltraLightItalic")
      format("svg"),
    url("./fonts/avenir/AvenirNext-UltraLightItalic.ttf") format("truetype"),
    url("./fonts/avenir/AvenirNext-UltraLightItalic.woff") format("woff"),
    url("./fonts/avenir/AvenirNext-UltraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./fonts/avenir/AvenirNext-Regular.eot");
  src: url("./fonts/avenir/AvenirNext-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/avenir/AvenirNext-Regular.svg#AvenirNext-Regular")
      format("svg"),
    url("./fonts/avenir/AvenirNext-Regular.ttf") format("truetype"),
    url("./fonts/avenir/AvenirNext-Regular.woff") format("woff"),
    url("./fonts/avenir/AvenirNext-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./fonts/avenir/AvenirNext-Italic.eot");
  src: url("./fonts/avenir/AvenirNext-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/avenir/AvenirNext-Italic.svg#AvenirNext-Italic") format("svg"),
    url("./fonts/avenir/AvenirNext-Italic.ttf") format("truetype"),
    url("./fonts/avenir/AvenirNext-Italic.woff") format("woff"),
    url("./fonts/avenir/AvenirNext-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./fonts/avenir/AvenirNext-Medium.eot");
  src: url("./fonts/avenir/AvenirNext-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/avenir/AvenirNext-Medium.svg#AvenirNext-Medium") format("svg"),
    url("./fonts/avenir/AvenirNext-Medium.ttf") format("truetype"),
    url("./fonts/avenir/AvenirNext-Medium.woff") format("woff"),
    url("./fonts/avenir/AvenirNext-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./fonts/avenir/AvenirNext-MediumItalic.eot");
  src: url("./fonts/avenir/AvenirNext-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/avenir/AvenirNext-MediumItalic.svg#AvenirNext-MediumItalic")
      format("svg"),
    url("./fonts/avenir/AvenirNext-MediumItalic.ttf") format("truetype"),
    url("./fonts/avenir/AvenirNext-MediumItalic.woff") format("woff"),
    url("./fonts/avenir/AvenirNext-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./fonts/avenir/AvenirNext-DemiBold.eot");
  src: url("./fonts/avenir/AvenirNext-DemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/avenir/AvenirNext-DemiBold.svg#AvenirNext-DemiBold")
      format("svg"),
    url("./fonts/avenir/AvenirNext-DemiBold.ttf") format("truetype"),
    url("./fonts/avenir/AvenirNext-DemiBold.woff") format("woff"),
    url("./fonts/avenir/AvenirNext-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./fonts/avenir/AvenirNext-DemiBoldItalic.eot");
  src: url("./fonts/avenir/AvenirNext-DemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/avenir/AvenirNext-DemiBoldItalic.svg#AvenirNext-DemiBoldItalic")
      format("svg"),
    url("./fonts/avenir/AvenirNext-DemiBoldItalic.ttf") format("truetype"),
    url("./fonts/avenir/AvenirNext-DemiBoldItalic.woff") format("woff"),
    url("./fonts/avenir/AvenirNext-DemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./fonts/avenir/AvenirNext-Bold.eot");
  src: url("./fonts/avenir/AvenirNext-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/avenir/AvenirNext-Bold.svg#AvenirNext-Bold") format("svg"),
    url("./fonts/avenir/AvenirNext-Bold.ttf") format("truetype"),
    url("./fonts/avenir/AvenirNext-Bold.woff") format("woff"),
    url("./fonts/avenir/AvenirNext-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./fonts/avenir/AvenirNext-BoldItalic.eot");
  src: url("./fonts/avenir/AvenirNext-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/avenir/AvenirNext-BoldItalic.svg#AvenirNext-BoldItalic")
      format("svg"),
    url("./fonts/avenir/AvenirNext-BoldItalic.ttf") format("truetype"),
    url("./fonts/avenir/AvenirNext-BoldItalic.woff") format("woff"),
    url("./fonts/avenir/AvenirNext-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./fonts/avenir/AvenirNext-Heavy.eot");
  src: url("./fonts/avenir/AvenirNext-Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/avenir/AvenirNext-Heavy.svg#AvenirNext-Heavy") format("svg"),
    url("./fonts/avenir/AvenirNext-Heavy.ttf") format("truetype"),
    url("./fonts/avenir/AvenirNext-Heavy.woff") format("woff"),
    url("./fonts/avenir/AvenirNext-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./fonts/avenir/AvenirNext-HeavyItalic.eot");
  src: url("./fonts/avenir/AvenirNext-HeavyItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/avenir/AvenirNext-HeavyItalic.svg#AvenirNext-HeavyItalic")
      format("svg"),
    url("./fonts/avenir/AvenirNext-HeavyItalic.ttf") format("truetype"),
    url("./fonts/avenir/AvenirNext-HeavyItalic.woff") format("woff"),
    url("./fonts/avenir/AvenirNext-HeavyItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/roboto/Roboto-Thin.eot");
  src: local(""),
    url("./fonts/roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"),
    url("./fonts/roboto/Roboto-Thin.woff2") format("woff2"),
    url("./fonts/roboto/Roboto-Thin.woff") format("woff"),
    url("./fonts/roboto/Roboto-Thin.ttf") format("truetype"),
    url("./fonts/roboto/Roboto-Thin.svg#Roboto") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/roboto/Roboto-Light.eot");
  src: local(""),
    url("./fonts/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/roboto/Roboto-Light.woff2") format("woff2"),
    url("./fonts/roboto/Roboto-Light.woff") format("woff"),
    url("./fonts/roboto/Roboto-Light.ttf") format("truetype"),
    url("./fonts/roboto/Roboto-Light.svg#Roboto") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/roboto/Roboto-Regular.eot");
  src: local(""),
    url("./fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/roboto/Roboto-Regular.woff2") format("woff2"),
    url("./fonts/roboto/Roboto-Regular.woff") format("woff"),
    url("./fonts/roboto/Roboto-Regular.ttf") format("truetype"),
    url("./fonts/roboto/Roboto-Regular.svg#Roboto") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/roboto/Roboto-Medium.eot");
  src: local(""),
    url("./fonts/roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/roboto/Roboto-Medium.woff2") format("woff2"),
    url("./fonts/roboto/Roboto-Medium.woff") format("woff"),
    url("./fonts/roboto/Roboto-Medium.ttf") format("truetype"),
    url("./fonts/roboto/Roboto-Medium.svg#Roboto") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/roboto/Roboto-Bold.eot");
  src: local(""),
    url("./fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/roboto/Roboto-Bold.woff2") format("woff2"),
    url("./fonts/roboto/Roboto-Bold.woff") format("woff"),
    url("./fonts/roboto/Roboto-Bold.ttf") format("truetype"),
    url("./fonts/roboto/Roboto-Bold.svg#Roboto") format("svg");
  font-weight: 700;
  font-style: normal;
}

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap'); */

strong {
  font-weight: 700;
}

button,
.button,
.altbutton {
  line-height: 50px;
  margin: 20px auto 0;
  padding: 0 20px;
  color: var(--theme-primary);
  background: none 0 0;
  text-decoration: none;
  display: inline-block;
  height: 50px;
  background: none;
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.25s, border-color 0.25s, color 0.25s,
    padding-left 0.25s;
}

button .icon,
.button .icon,
.altbutton .icon {
  margin-top: 10px;
  margin-right: 0.5em;
  font-size: 40px;
  top: 100%;
}

button.upload,
.button.upload,
.altbutton.upload {
  display: block;
  margin: 5px 0 5px 10px;
  font-size: 16px;
  padding: 0 15px;
}

button:hover,
.button:hover,
.altbutton:hover {
  color: #fff;
  background-color: var(--theme-primary);
  border-color: var(--theme-primary);
}

button:active,
.button:active,
.altbutton:active {
  border-color: #fff;
}

.centered-box {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.centered-box.not-found .action-section {
  display: none;
}

.centered-box.not-found .action-section.not-found {
  display: block;
}

.centered-box.deadline-passed .action-section {
  display: none;
}

.centered-box.deadline-passed .action-section.deadline-passed {
  display: block;
}

.centered-box.relative {
  position: relative;
  margin-top: 20px;
}

.centered-box:not(.relative) {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}

@media only screen and (max-width: 640px) {
  .centered-box {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin-top: 1em;
    padding-bottom: 200px !important;
  }
}

.centered-box .header-section {
  margin: 50px 0;
}

.centered-box .header-section .icon {
  display: block;
  text-align: center;
  font-size: 10em;
  opacity: 0.8;
}

.centered-box .header-section .title {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0px auto 0;
}

.centered-box .nearby-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.centered-box .nearby-section .action-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}

@media only screen and (max-width: 640px) {
  .centered-box .nearby-section .action-section {
    justify-content: center;
    max-width: 100vw;
  }
}

.centered-box .nearby-section .action-section img {
  background: #fff;
  padding: 10px;
  height: 200px;
  width: 200px;
}

.centered-box .nearby-section .action-section .info-container {
  text-align: left;
  background: #fff;
  padding: 10px;
  margin: 0 5vw;
}

@media only screen and (max-width: 640px) {
  .centered-box .nearby-section .action-section .info-container {
    text-align: center;
  }
}

.centered-box .nearby-section .action-section .info-container .section-title {
  font-size: 1.7em;
}

.centered-box .nearby-section .action-section .info-container .section-year {
  font-size: 1.4em;
}

.centered-box .action-section {
  background: #fff;
  color: #333;
  margin: 40px auto;
  padding: 20px 30px;
  box-shadow: 0 5px 5px rgba(51, 51, 51, 0.2);
  text-align: center;
}

@media only screen and (max-width: 640px) {
  .centered-box .action-section {
    width: 90%;
    font-size: 1.2em;
  }
}

.centered-box .action-section.align-left {
  text-align: left;
}

.centered-box .action-section.large-text {
  font-size: 1.1em;
}

@media only screen and (max-width: 640px) {
  .centered-box .action-section.large-text {
    font-size: 1.3em;
  }
}

.centered-box .action-section li {
  margin-top: 20px;
}

.centered-box .action-section li .complete-text {
  display: none;
  font-size: 1.1em;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 500;
  color: #68bb68;
}

.centered-box .action-section li .complete-text .icon {
  margin-right: 0.3em;
  font-size: 1.5em;
}

.centered-box .action-section li .complete-text a {
  margin-left: 0.3em;
  font-weight: 500;
}

.centered-box .action-section li .complete-text .filename {
  display: inline;
  font-weight: 500;
  color: #333;
}

.centered-box .action-section li .complete-text .edit {
  padding-left: 0.5em;
}

.centered-box .action-section li.completed .complete-text {
  display: block;
}

.centered-box .action-section li.completed .upload {
  display: none;
}

.centered-box .action-section .status-container h3 {
  font-size: 1.3em;
  text-align: center;
  font-weight: 500;
}

.centered-box .action-section .status-container .incomplete {
  color: #ea5c5c;
  display: inline;
}

.centered-box .action-section .status-container .complete {
  color: #68bb68;
  display: none;
}

.centered-box .action-section .status-container.completed .complete {
  display: inline;
}

.centered-box .action-section .status-container.completed .complete.thanks {
  display: block;
}

.centered-box .action-section .status-container.completed .incomplete {
  display: none;
}

.centered-box .action-section .status-container .complete.thanks {
  margin-top: 20px;
  color: #333;
  text-align: center;
}

.centered-box .action-section.not-found {
  display: none;
}

.centered-box .action-section.deadline-passed {
  display: none;
}

@media only screen and (max-width: 640px) {
  body {
    overflow-x: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small {
  font-size: 0.5em;
  display: inline;
  margin-left: 1em;
  line-height: 2em;
}

.message {
  color: #fff !important;
  z-index: 2;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--theme-primary);
  color: #fff !important;
  width: 100%;
  min-height: 30px;
  line-height: 30px;
  padding: 10px;
}

.message a {
  color: #fff;
}

a.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

section {
  padding: 5px;
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  z-index: 12;
}

section .container {
  display: block;
  position: relative;
  margin: auto auto;
  max-width: 80%;
}

@media only screen and (max-width: 640px) {
  section .container {
    max-width: 100% !important;
  }
}

section h1.section-title {
  margin-top: 1rem;
  margin-bottom: 0.4em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0.4em;
  color: var(--theme-primary);
}

section.colored {
  background-color: var(--theme-primary);
  color: #fff;
}

section.colored h1.section-title {
  color: #fff;
}

input {
  transition: border-color 0.25s;
  display: inline-block;
  height: 50px;
  outline: 0;
  appearance: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 25px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid transparent;
  transition: border-color 0.25s;
}

input:focus {
  border-color: rgba(255, 255, 255, 0.6);
}

input::placeholder {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 2.5px;
  font-size: 20px;
}

a:hover {
  color: #0e1065;
}

button .text,
button .icon,
.button .text,
.button .icon,
.altbutton .text,
.altbutton .icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 50px;
  transition: top 0.5s;
}

button.small,
.button.small,
.altbutton.small {
  font-size: 18px;
  height: 40px;
}

button.small .text,
.button.small .text,
.altbutton.small .text {
  background-color: var(--theme-primary);
  line-height: 40px;
}

button.small .icon,
.button.small .icon,
.altbutton.small .icon {
  font-size: 18px;
}

button.is-disabled,
.button.is-disabled,
.altbutton.is-disabled {
  color: rgba(230, 230, 230, 0.6);
  border-color: rgba(230, 230, 230, 0.6);
  cursor: none;
  pointer-events: none;
}

button.is-done .text,
.button.is-done .text,
.altbutton.is-done .text {
  top: -100%;
}

button.is-done .icon,
.button.is-done .icon,
.altbutton.is-done .icon {
  top: 0;
}

button:hover .text,
.button:hover .text,
.altbutton:hover .text {
  color: #fff;
}

a.button {
  color: #fff;
  text-align: center;
  line-height: 50px;
}

a.blackbutton {
  color: #353535;
  border-color: #353535;
}

a.altbutton {
  text-align: center;
  line-height: 50px;
  color: var(--theme-primary);
  border-color: var(--theme-primary);
}

a.altbutton:not([href]),
a.altbutton:not(:link) {
  cursor: not-allowed;
}

a.flatbutton {
  width: 350px;
  margin: 5px auto;
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  border-color: var(--theme-primary);
  background-color: var(--theme-primary);
  transition: transform 0.2s;
}

a.flatbutton:hover {
  transform: scale(1.05);
}

p.large {
  font-size: 20px;
  line-height: 1.7em;
  margin-bottom: 0;
}

.register-button {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.register-button .text {
  cursor: pointer;
}

.register-button .nvite-button {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100% !important;
  height: 100% !important;
}

@media only screen and (max-width: 640px) {
  .register-button .nvite-button {
    margin: 0;
  }
}

.register-button .event-ticketing h3 {
  color: #fff !important;
}

.animation-container {
  background: none 0 0;
  background: none;
  height: 100%;
  z-index: 10;
}

.animation-container .animated {
  /* background: var(--theme-primary); */
  position: absolute;
  top: 0;
}

.animation-container .animated.white {
  background: #fff;
}

.animation-container.vertical {
  height: 100%;
  width: 7px;
}

.animation-container.vertical .animated {
  left: 0;
  width: 100%;
  height: 0;
}

.animation-container.horizontal {
  position: relative;
  width: 100%;
  height: 7px;
  max-width: 900px;
  margin: auto;
}

.animation-container.horizontal .animated {
  width: 0;
  height: 100%;
}

.animation-container.horizontal .animated.right {
  right: 0;
}

.animation-container.horizontal .animated.left {
  left: 0;
}

.animation-container.extra-height {
  height: calc(100% + 80px);
  margin-top: -40px;
}

.animation-container.left {
  left: 0;
  left: 0;
}

.animation-container.extra-left {
  left: -100px;
}

.animation-container.top {
  top: 0;
  top: 0;
}

.animation-container.right {
  right: 0;
  right: 0;
}

.animation-container.extra-right {
  right: -100px;
}

.animation-container.bottom {
  bottom: 0;
  bottom: 0;
}

@media only screen and (max-width: 640px) {
  .animation-container {
    display: none;
  }
}

.register-button-block {
  display: block;
  margin: 50px auto;
  width: 500px;
}

.register-button-block .register-text {
  font-size: 20px;
  margin: auto;
  display: block;
  text-align: center;
}

@media only screen and (max-width: 640px) {
  .register-button-block .register-text {
    margin: 0 10px;
  }
}

.register-button-block .register-button {
  margin: 5px auto;
  width: 350px;
  display: block;
}

@media only screen and (max-width: 640px) {
  .register-button-block .register-button {
    width: 90%;
    margin: 10px auto;
    display: block;
  }
}

@media only screen and (max-width: 640px) {
  .register-button-block {
    width: 100%;
  }
}

.register-button-block-old {
  display: block;
  margin: 10px auto;
  width: 500px;
}

.register-button-block-old .register-text {
  font-size: 20px;
  margin: auto;
  display: block;
  text-align: center;
}

@media only screen and (max-width: 640px) {
  .register-button-block-old .register-text {
    margin: 0 10px;
  }
}

.register-button-block-old .register-button {
  width: 350px;
  margin: 5px auto;
  display: block;
}

@media only screen and (max-width: 640px) {
  .register-button-block-old .register-button {
    width: 90%;
    margin: 10px auto;
    display: block;
  }
}

@media only screen and (max-width: 640px) {
  .register-button-block-old {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

section.register {
  padding: 20px 5px 5px;
}

section.register .container {
  margin: 20px auto;
}

section.register .container .register-button-block.bottom {
  margin: 0 auto;
}

section.register button.register-button:hover {
  background: #fff;
  color: var(--theme-primary);
}

button .text,
.button .text,
button .icon,
.button .icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 50px;
  transition: top 0.5s;
}

a.empty {
  line-height: 0;
  font-size: 0;
  color: transparent;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

p.centered {
  text-align: center;
}

div.vertical-segment.colored {
  border-left: 6px solid var(--theme-primary);
  height: 113%;
  position: absolute;
  left: -20%;
  top: -13%;
}

div.vertical-segment.white {
  border-left: 6px solid white;
  height: 113%;
  position: absolute;
  left: -20%;
  top: -13%;
}

div.horizontal-segment.colored {
  border-top: 6px solid var(--theme-primary);
  width: 100%;
  position: absolute;
}

div.horizontal-segment.white {
  border-top: 6px solid white;
  width: 100%;
  position: absolute;
}
